@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

header {
    display: inline;
}

label.logo a {
    color: white;
    font-size: 2em;
    line-height: 80px;
    cursor: pointer;
    padding: 0 50px;
    font-family: 'Shantell Sans', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
}

nav.utama {
    display: flex;
    background-color: #D61355;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-around;
    align-items: center;
}

nav.utama ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40%;
}

nav.utama ul li {
    line-height: 80px;
    margin: 0 5px;
}

nav.utama ul li a{
    font-size: 1em;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

nav.utama ul li a:hover,
a#active {
    background: #F94A29;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.hamburger {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger .bar {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    float: left;
    width: 75%;
}

main {
    padding: 20px;
    overflow: auto;
}

h2 {
    color: #D61355;
    text-align: center;
}

h3 {
    color: #D61355;
}

.featured-image {
    width: 100%;
    max-height: 455px;
    object-fit: cover;
    object-position: center;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 150px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 60px;
}

.bendera {
    border-color: black;
    border-width: 1px;
    border-style: inset;
}

section {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

#aidi {
    color: white;
    text-decoration: none;
}

#aidi:hover {
    font-family: 'Shantell Sans', cursive;
    font-weight: bold;
    background: #F94A29;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 3px;
    padding: 7px 13px;
    color: white;
}

footer {
    padding: 20px;
    color: white;
    background-color: #D61355;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        width: 50%;
        position: fixed;
        left: -100%;
        top: 0px;
        gap: 0px;
        flex-direction: column;
        background-color: #D61355;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
        transition: 0.3s;
        z-index: -1;
    }

    nav.utama ul {
        width: 100%;
        justify-content: space-around;
    }

    .nav-menu ul li a:hover,
    a#active {
        background: #F94A29;
        transition: 0.5s;
        font-weight: bold;
        cursor: pointer;
    }

    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #content,
    aside {
        width: 100%;
        padding: 0;
        text-align: justify;
    }

    .profile {
        display: flex;
        flex-direction: column;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 576px) {
    .nav-menu {
        left: -100%;
        top: 0px;
        gap: 0px;
        flex-direction: column;
        background-color: #D61355;
        width: 100%;
        height: 100vh;
        justify-content: space-around;
        align-items: center;
        transition: 0.3s;
    }

    nav.utama ul {
        width: 100%;
        justify-content: space-around;
    }

    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    nav.navigasi {
        background-color: #f94a29;
        padding: 5px;
        position: sticky;
        top: 0;
    }
    
    nav.navigasi li {
        display: inline;
        list-style-type: none;
        margin-right: 0;
    }
    
    nav.navigasi a {
        font-size: 18px;
        text-decoration: none;
        font-weight: 400;
        color: white;
        border-radius: 3px;
        padding: 7px 13px;
    }
    
    #content,
    aside {
        width: 100%;
        padding: 0;
        text-align: justify;
    }

    .profile {
        display: flex;
        flex-direction: column;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}